name: Build

# build timings
on:
  push:
    branches:

jobs:
  build:
    runs-on: ubuntu-latest
    container: centos:8
    steps:

    # Get files
    - name: Get files
      uses: actions/checkout@v1

    # Build zapcc
    - name: Build zapcc
      run: |
        dnf upgrade -y
        dnf install -y git gcc gcc-c++ cmake python27
        dnf --enablerepo=PowerTools install -y ninja-build
        git submodule update --init --recursive --recommend-shallow --depth 1

        mkdir -p zapcc/build
        cd zapcc/build
        cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DLLVM_ENABLE_WARNINGS=OFF ..
        ninja -j4

    # Build RPM Package
    - name: Build RPM Package
      run: |
        dnf install -y platform-python-devel rpm-build
        pathfix.py -pn -i /usr/bin/python3 ./../
        pathfix.py -pn -i /usr/bin/python3 ./../tools/clang/tools/clang-format/git-clang-format
        pathfix.py -pn -i /usr/bin/python3 ./../tools/clang/tools/scan-view/bin/scan-view
        cpack -G RPM CPackConfig.cmake

    # Packaging
    - name: Upload archive
      uses: actions/upload-artifact@v2
      with:
        name: x86_64-unknown-linux-gnu
        path: zapcc/build/LLVM-7.0.0svn-Linux.rpm
